.App {
  padding: 0 5rem;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.flex-space-between {
  display: flex;
  justify-content: space-between;
}
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader-img {
  width: 100px;
  height: 100px;
  margin-top: 10rem;
}
button {
  cursor: pointer;
}
a {
  text-decoration: none;
}
.border {
  border: 1px solid black;
  border-radius: 6px;
}
.small-font {
  font-size: 1rem;
}
.medium-font {
  font-size: 1.5rem;
}
.card {
  border: 1px solid black;
  border-radius: 6px;
  /* height: 300px;
  width: 250px; */
  width: 250px;
  cursor: pointer;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
}
.card-image {
  height: 200px;
  width: 100%;
}
.navbar {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0 4rem;
  align-items: center;
}
.product-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 2rem;
  row-gap: 2rem;
}
.categoryCard {
  height: 150px;
  width: 250px;
  /* border: 1px solid black; */
  border-radius: 2rem;
  padding: 1rem;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
}
.product-image-container {
  padding: 0.5rem;
}
.product-image {
  height: 400px;
  width: 300px;
}
.product-details-main-container {
  display: flex;
  column-gap: 3rem;
}
.login-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 25rem;
  margin: 0 auto;
}
.login-container input {
  padding: 10px;
}
.product-details {
}
.product-details button {
  display: block;
  padding: 0.5rem;
  margin-top: 0.7rem;
  font-size: 1rem;
  width: 17rem;
}
.product-details .title {
  font-size: 1.8rem;
}
.product-details .discription {
  font-size: 1.1rem;
}
.product-details .price {
  font-size: 1.5rem;
}
.product-details .original-price {
  font-size: 1.5rem;
}
.product-details .title {
  font-size: 1.5rem;
  font-weight: bold;
}
.category-container {
  display: flex;
  column-gap: 1rem;
  justify-content: space-evenly;
}
.cart-card {
  border: 1px solid black;
  border-radius: 6px;
  display: flex;
  width: 100%;
  height: 10rem;
}
.cart-container {
  display: flex;
  gap: 10rem;
  justify-content: space-between;
}
.cart-detail {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
}
.card-detail {
  padding: 1rem;
}
.card-action-btns button {
  width: 100%;
}
.footer {
  margin-top: auto;
  text-align: center;
  padding: 3rem 0;
}
.cart-card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
}
.checkout-section {
  padding: 1rem;
  width: 30rem;
  place-self: flex-start;
}
.remove-item-btn {
  align-self: center;
  padding: 0.3rem;
  border: none;
  color: grey;
}
.cart-action-btns {
  align-self: center;
}
.cart-action-btns button {
  margin: 0.5rem;
}

.product-list-container {
  display: flex;
}
.filters {
  display: flex;
  flex-direction: column;
  padding-right: 4rem;
}
.banner-image {
  background-size: cover;
  height: 25rem;
  background-repeat: no-repeat;
  margin-bottom: 5rem;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
}
.login-submit-btn {
  width: 23rem;
  background: green;
  color: white;
  padding: 0.5rem;
  /* cursor: pointer; */
}
.navitem-wishlist {
  position: relative;
  margin-right: 1.5rem;
}
.wishlist-count {
  position: absolute;
  top: -5px;
  left: 19px;
  background: green;
  color: white;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  text-align: center;
  z-index: 1;
}
.homepage-title {
  font-size: 2rem;
  color: hsla(11, 100%, 62.2%, 1);
  font-weight: 500;
}
.checkout-page-container {
  display: flex;
  justify-content: space-around;
}
.placeorder-btn {
  color: white;
  background-color: green;
  padding: 0.5rem;
  width: 100%;
  font-size: 1.2rem;
  font-weight: 500;
  margin-top: 1rem;
}
.adddress-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.rating {
  background: green;
  border-radius: 20px;
  padding: 0px 10px;
  color: white;
  align-self: flex-start;
}
.card-title-container {
  display: flex;
  justify-content: space-between;
  margin: 0 0 0.5rem 0;
}
.card-title {
  font-size: 1.1rem;
  font-weight: 600;
}
.author {
  color: grey;
  font-size: 1rem;
  margin: 0 0 0.5rem;
}
.price {
  margin: 0 0 0.5rem;
  font-size: 1.1rem;
  font-weight: 500;
}
.original-price {
  text-decoration: line-through;
  color: #878787;
  font-size: 1.1rem;
  font-weight: 500;
}
.add-to-cart-btn {
  font-weight: 700;
  color: green;
}
.add-to-wishlist-btn {
  font-weight: 200;
  color: #9c5965;
}

.home-page-category-title {
  text-align: center;
  font-size: 2rem;
  margin: 0 0 2rem;
  font-weight: 400;
}
.page-heading {
  font-size: 1.9rem;
  font-weight: 600;
}
.page-sub-heading {
  font-size: 1.5rem;
  font-weight: 500;
}
.profile-card {
  padding: 1rem;
}
.address-card {
  padding: 1rem;
  margin-bottom: 1rem;
}
.add-new-address-btn {
  padding: 0.5rem;
  font-weight: 500;
  margin-top: 1rem;
  font-size: 0.9rem;
}
.checkout-address-section {
  /* padding: 1rem; */
  width: 40rem;
  /* place-self: center; */
}
.checkout-page-product-title {
  font-size: 1.2rem;
  font-weight: 600;
}
.logout-btn {
  padding: 10px;
  width: 10rem;
  color: white;
  background-color: red;
  display: block;
  margin-top: 1rem;
  font-size: 1.1rem;
  border-radius: 6px;
}
.checkout-btn {
  color: white;
  background-color: green;
  padding: 0.5rem;
  width: 100%;
  font-size: 1.2rem;
  font-weight: 500;
}
.search-bar {
  padding: 10px;
  width: 15rem;
  font-size: 0.9rem;
}
.clear-filters-btn {
  margin-top: 2rem;
  font-size: 1rem;
  padding: 0.5rem;
}
